/* Wrapper.css */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header-background);
  color: var(--header-text-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-button {
  background: none;
  border: none;
  color: var(--header-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: var(--highlight-color);
}

.theme-toggle-button {
  background: none;
  border: none;
  color: var(--header-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-toggle-button:hover {
  color: var(--highlight-color);
}

.location-status {
  display: flex;
  align-items: center;
  position: relative;
}

.location-icon {
  font-size: 1.5rem;
}

.location-icon.granted {
  color: var(--location-granted-color);
}

.location-icon.denied {
  color: var(--location-denied-color);
}

.location-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.location-button:hover .location-icon {
  color: var(--highlight-color);
}

.strike-through {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--location-denied-color);
  transform: rotate(45deg);
  transform-origin: center;
}

.wrapper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px; /* Adjust to the height of the header */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
