/* UploadURLScreen/index.css */
.upload-url-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.upload-url-screen h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.upload-url-screen input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  width: 100%;
  max-width: 400px;
}

.upload-url-screen button {
  background-color: var(--button-background); /* Blue button background */
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.upload-url-screen button:hover {
  background-color: var(--button-hover-background); /* Red button hover background */
  transform: translateY(-2px);
}